<!-- cart(products(product, itemPrice, quantity), totalPrice, customerAd) -->
<!--
<h1>Cart</h1>

<% if (cart.products.length === 0) { %>
    <p>Your cart is empty.</p>
<% } else { %>
    <ul>
        <% cart.products.forEach(function(item) { %>
            <li>
                <h3><%= item.product.name %></h3>
                <p>Price: <%= item.itemPrice %></p>
                <p>Quantity: <%= item.quantity %></p>
                <a href="/cart/remove">Remove</a>
            </li>
        <% }); %>
    </ul>
    <p>Total Price: <%= cart.totalPrice %></p>
<% } %>

<a href="/cart/checkout">Checkout</a>
-->

<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    </div>
                    <hr class="my-4">
                    <% if (cart.products.length === 0) { %>
                      <p>Your cart is empty.</p>
                    <% } else { %>
                      <div>
                        <% cart.products.forEach(function(item) { %>
                          <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                              <img
                                src="<%= item.product.image %>"
                                class="img-fluid rounded-3" alt="Product Image">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                              <h6 class="text-muted"><%= item.product.name %></h6>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                              <h6><%= item.quantity %></h6>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                              <h6 class="mb-0"><%= item.itemPrice %></h6>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                              <a href="/cart/remove" class="text-muted"><i class="fas fa-times"></i></a>
                            </div>
                          </div>
                          <hr class="my-4">
                        <% }); %>
                      </div>
                      <div class="pt-5">
                        <h6 class="mb-0"><a href="/home" class="text-body"><i
                              class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                      </div>
                    <% } %>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
                    <% if (cart.products.length === 0) { %>
                      <p>Your cart is empty.</p>
                    <% } else { %>
                      <h5 class="text-uppercase mb-3">Shipping</h5>
                      <div class="mb-4 pb-2">
                        <select class="select">
                          <option value="1">Hub A1</option>
                          <option value="2">Hub A2</option>
                          <option value="3">Hub A3</option>
                        </select>
                      </div>     
                      <h5 class="text-uppercase mb-3">Sale code</h5>
                      
                      <div class="mb-5">
                        <div class="form-outline">
                          <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                          <label class="form-label" for="form3Examplea2">Enter your code</label>
                        </div>
                      </div>
                      <hr class="my-4">
                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5><%= cart.totalPrice %></h5>
                      </div>
                  <% } %>
                  <p>
                    <a class="btn btn-dark btn-block btn-lg" href="/cart/checkout">Checkout</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>